body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  background-color: grey;
  color: white;
  margin: 0;
}

.filtros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 0.5rem;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.filtros > input {
  width: 100%;
}

.inputs-form { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5rem;
}

.select-periodo {
  width : 50%;
}

.contenedor {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: gray;
  text-align: center;
}

::placeholder {
  text-align: center;
}